<IfModule mod_autoindex.c>

  Options -Indexes
</IfModule>


<IfModule mod_rewrite.c>
  Options +FollowSymlinks

  RewriteEngine On
  IndexIgnore */*

  RewriteRule ^adminpanel/(.*)?$ /backend/web/$1 [L,PT]

  RewriteRule ^([^/].*)?$ /frontend/web/$1
</IfModule>
